<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.glsx.neshield.modules.mapper.UserPathMapper">
    <resultMap id="BaseResultMap" type="cn.com.glsx.neshield.modules.entity.UserPath">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="superior_id" jdbcType="INTEGER" property="superiorId"/>
        <result column="sub_id" jdbcType="INTEGER" property="subId"/>
        <result column="depth" jdbcType="INTEGER" property="depth"/>
        <result column="tenant_id" jdbcType="INTEGER" property="tenantId"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, superior_id, sub_id, `depth`, tenant_id, del_flag, created_date, created_by, 
    updated_date, updated_by
  </sql>

    <insert id="insertRootPath">
        insert into t_user_path
        (superior_id, sub_id, depth, tenant_id, created_date,created_by)
        values
        (#{superiorId}, #{subId}, 0, #{tenantId}, #{createdDate}, #{createdBy})
    </insert>

    <insert id="insertUserPath" useGeneratedKeys="false">
        insert into t_user_path
        (superior_id, sub_id, depth, tenant_id, created_date, created_by)
        select tor.superior_id, #{subId}, tor.depth+1, #{tenantId}, #{createdDate}, #{createdBy}
        from t_user_path as tor
        where tor.sub_id = #{superiorId}
        union all
        select #{superiorId}, #{subId}, 1, #{tenantId}, #{createdDate}, #{createdBy}
    </insert>

    <select id="selectRootPath" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_path
        where tenant_id = #{tenantId}
        and depth = 0
        and del_flag = 0
    </select>

    <select id="selectRootPathBySubId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_path
        where sub_id = #{subId} and del_flag = 0
        and depth = (
        select max(depth)
        from t_organization
        where sub_id = #{subId} and del_flag = 0
        )
    </select>

    <select id="selectSubordinateDepartmentList"
            resultType="cn.com.glsx.neshield.modules.model.view.DepartmentUserCount">
        select
        tu.department_id departmentId,count(*) userNumber
        from t_user tu, t_user_path tup
        where tu.del_flag = 0 and tup.del_flag = 0
        and tup.sub_id = tu.id
        and tup.superior_id = #{userId}
  </select>

    <select id="selectUserSubordinateList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_path
        where del_flag = 0
        and superior_id = #{userId}
    </select>
</mapper>